[Unit]
Description=Users command-side Microservice
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill users_command
ExecStartPre=-/usr/bin/docker rm users_command
ExecStartPre=/usr/bin/docker pull toktok/users_command:0.3-SNAPSHOT
ExecStart=/usr/bin/docker run --name users_command -p 28001:28001 --env ETCD_ENDPOINT=172.17.42.1:4001 -v /etc/toktok/users_command:/etc/toktok -v /var/log/toktok:/var/log/toktok toktok/users_command:0.3-SNAPSHOT
ExecStop=/usr/bin/docker stop users_command
